.GameControls {
  display: block;
  width: 85vh;
  position: relative;
  margin: auto;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
}

button {
  flex: 0 0 10%;
  border: none;
  padding: 0.4em;
}

.statusMsg {
  flex-basis: 20%;
}

.play {
  width: 4vh;
  height: 4vh;
  outline: none;
}

.reset {
  color: white;
  background-color: #2196f3;
  font-size: medium;
}