/* .Snake {
  position: absolute;
} */

.SnakeHead {
  position: absolute;
  width: 5vh;
  height: 5vh;
  z-index: 2;
}

.SnakeHead.UP {
  background: url('../../../resources/images/snake-head-up.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0.5vh;
}

.SnakeHead.DOWN {
  background: url('../../../resources/images/snake-head-up.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -1.5vh;
}

.SnakeHead.RIGHT {
  background: url('../../../resources/images/snake-head-side.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1vh;
}

.SnakeHead.LEFT {
  background: url('../../../resources/images/snake-head-side.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -1vh;
}

.SnakeBody {
  position: absolute;
  width: 4vh;
  height: 4vh;
  background: url('../../../resources/images/snake-body.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.SnakeBody.UP {
  background-position: center bottom;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.SnakeBody.DOWN {
  background-position: center top;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.SnakeBody.LEFT {
  background-position: center right;
  margin: 0.5vh;
}

.SnakeBody.RIGHT {
  background-position: center left;
  margin: 0.5vh;
}